@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #EFECE7;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Instrument Sans Variable', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Instrument Sans Variable', system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* instrument-sans-latin-wght-normal */
@font-face {
  font-family: 'Instrument Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/instrument-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --text-h: #f3f4f6;
    --color-black: #f3f4f6;
    --color-white: #16171d;
    --bg: #222329;
    --border: #2e303a;
    --code-bg: #1f2028;
    --hover-bg: #383942;
    --green-accent: rgb(150, 202, 195);
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

    color-scheme: dark;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }

  .icon {
    color: var(--green-accent)
  }

  .bg-\[\#0F3B36\] {
    background-color: var(--green-accent)
  }

  .accent-\[\#2E6F66\] {
    accent-color: var(--green-accent)
  }

  .text-\[\#2E6F66\] {
    color: var(--green-accent)
  }

  .text-gray-500 {
    color: var(--color-gray-300);
  }

  .bg-\[\#EFECE7\] {
    background-color: #23252e;
  }

  .bg-\[\#F5F3EF\] {
      background-color: #23252e;
  }

  .text-\[\#374151\] {
      color: #8e99ab;
  }

  .border-\[\#0F3B36\] {
      border-color: rgb(150, 202, 195);
  }

  .text-\[\#0F3B36\] {
      color: rgb(150, 202, 195);
  }

  .bg-\[\#E58126\] {
    background-color: #E58126;
  }

  .doc-entry:hover {
    background-color: var(--hover-bg)
  }

}

body {
  margin: 0;
}

#root {

  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
h3 {
  font-family: var(--heading);
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  color: var(--text-h);
  margin: 0;
}
h4 {
  font-family: var(--heading);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: var(--text-h);
  margin: 0;
}
p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.icon {
  color: '#0F3B36'
}
